Options -Indexes

<IfModule mod_rewrite.c>
    <Files "composer.json">
        Order Allow,Deny
        Deny from All
    </Files>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]
</IfModule>