<div class="card mt-5" style="width: 22rem; height: 20rem;">
    <div class="card-body">
        <h5 class="card-title text-center">Welcome</h5>
        <div class="card-tex mt-5 text-center">
            Hey there! <br>
            Here is a little game for you! <br>
            Follow these steps: <br>
            <div class="my-3">
             Login <br>
             Find the treasure! <br>
            </div>
            Exciting, huh?
        </div>
    </div>
</div>